# IDE
.idea/
*.iml

# Build & cache
.dart_tool/
build/
.pub-cache/
.packages

# Locks
pubspec.lock

# OS files
.DS_Store
Thumbs.db

# Env & secrets
*.keystore
*.jks

# Logs / coverage
*.log
coverage/

migrations/
docker-compose.yaml
